appdirs==1.4.3
asn1crypto==0.22.0
attrs==16.3.0
backoff==1.4.0
backports.shutil-get-terminal-size==1.0.0
cffi==1.10.0
cryptography==2.0.3
decorator==4.1.2
Django==1.11
enum34==1.1.6
facebookads==2.10.1
googleads==7.0.0
httplib2==0.10.3
idna==2.6
ipaddress==1.0.18
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
jsonfield==2.0.2
jsonschema==2.6.0
mysqlclient==1.3.10
oauth2client==4.1.2
packaging==16.8
pathlib2==2.3.0
pendulum==1.2.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.1
ptyprocess==0.5.2
pyasn1==0.3.3
pyasn1-modules==0.1.1
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.2
pytzdata==2017.2.1
PyYAML==3.12
requests==2.12.4
rsa==3.4.2
ruamel.yaml==0.14.12
scandir==1.5
simplegeneric==0.8.1
simplejson==3.11.1
singer-python==3.2.0
six==1.10.0
suds-jurko==0.6
tap-facebook==1.0.0
tap-fixerio==0.1.2
target-csv==0.2.3
traitlets==4.3.2
tzlocal==1.4
wcwidth==0.1.7
xmltodict==0.11.0
