{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Windsor Data Services</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/font-awesome.min.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block page_css %}{% endblock %}
    {% block page_script %} {% endblock %}
</head>

<body>
<div class="nav">
    <div class="logo"><img src="{% static "img/logo.png" %}" class="logo-img" /></div>
    <ul class="nav-links">
        <li class="active"><a href="{% url "data_loader:datasource-list" %}"><span class="fa fa-database"></span></a><span class="nav-links-label">Data Sources</span></li>
        <li><a href="javascript:void(0);"><span class="fa fa-cog"></span></a><span class="nav-links-label">Settings</span></li>
        <li><a href="javascript:void(0);"><span class="fa fa-user"></span></a><span class="nav-links-label">Profile</span></li>
        <li class="nav-links-bottom"><a href="{% url "customer:logout" %}"><span class="fa fa-sign-out"></span></a><span class="nav-links-label">Sign Out</span></li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>
