<div class="page-login">
   <div class="logo"><img src="/assets/img/logo.png" class="logo-img" /> Windsor <span class="logo-department">Data Services</span></div>
    <div class="form-login box">
        <h1>Sign In</h1>
        <div class="form-row form-floating-label">
            <span class="form-label">Email Address</span>
            <input type="email" class="form-input" placeholder="Email Address"/>
        </div>
        <div class="form-row form-floating-label">
            <span class="form-label">Password</span>
            <input type="password" class="form-input" placeholder="Password"/>
        </div>
        <div class="form-buttons">
            <a href="/data-sources" class="button button-green">Sign In</a>
        </div>
        <span class="login-separator"></span>
        <div class="login-socials">
            <a href="/data-sources" class="button button-outline"><span class="icon icon-google"></span> Sign in with Google Account</a>
        </div>
        <div class="login-signup">
            Don`t have an account?&nbsp;&mdash; <a href="#">Sign Up</a>
        </div>
    </div>
    <div class="login-forgot">
        <a href="#">Forgot Password?</a>
    </div>
</div>