{% extends 'layout.html' %}
{% block content %}

    <div class="page datasources-select">
        <div class="page-title">
            <div class="content">
                <h1>Add Data Source</h1>
                <div class="page-title-actions">
                    <a href="javascript:void(0);" class="button button-green">Add Data Source</a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="content">
                <div class="page-supplements">
                    <div class="row">
                        <div class="col col-33">
                            <div class="search">
                                <input type="text" class="search-input form-input" placeholder="Search..." />
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                        <div class="col col-33">
                            <div class="switches">
                                <a href="javascript:void(0);"  class="switch switch-active">All</a>
                                <a href="javascript:void(0);"  class="switch">Popular</a>
                                <a href="javascript:void(0);"  class="switch">APIs</a>
                                <a href="javascript:void(0);"  class="switch">Databases</a>
                            </div>
                        </div>
                        <div class="col col-33">
                            <a href="javascript:void(0);"  class="pseudolink">My data source is not in the list</a>
                        </div>
                    </div>
                </div>
                <div class="box datasources-select">
                    <ul>
                        {% for provider in object_list %}
                            <li>
                            {% if provider.name == 'analytics' %}
                                <a href="{% url 'data_loader:analytics-datasource-create' provider_id=provider.pk %}" class="button button-outline">
                                    <span class="icon icon-{{ provider.name }}"></span>{{ provider.title }}
                                </a>
                            {% else %}
                                {% if provider.name == 'spreadsheets' %}
                                    <a href="{% url 'data_loader:spreadsheets-datasource-create' provider_id=provider.pk %}" class="button button-outline">
                                        <span class="icon icon-{{ provider.name }}"></span>{{ provider.title }}
                                    </a>
                                {% else %}
                                    <a href="{% url 'data_loader:datasource-create' provider_id=provider.pk %}" class="button button-outline">
                                        <span class="icon icon-{{ provider.name }}"></span>{{ provider.title }}
                                    </a>
                                {% endif %}
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}