{% extends 'layout.html' %}
{%  block content %}
    <div class="page datasources">
        <div class="page-title">
            <div class="content">
                <h1>Data Sources</h1>
                <div class="page-title-actions">
                    <a href="{% url "data_loader:datasource-providers" %}" class="button button-green">Add Data Source</a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="content">
                <div class="page-supplements">
                    <div class="row">
                        <div class="col col-33">
                            <div class="search">
                                <input type="text" class="search-input form-input" placeholder="Search..." />
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box datasources-list">
                    <table cellspacing="0" class="datasources-table">
                        {% for datasource in object_list %}
                            <tr>
                                <td class="datasources-table-name"><span class="icon icon-{{ datasource.data_provider.name }}"></span>{{ datasource.name }}</td>
                                <td class="datasources-type">{{ datasource.data_provider.title}}</td>
                                <td class="datasources-actions">
                                    <a href="{% url "data_loader:datasource-update" pk=datasource.pk %}" class="button button-action"><span class="fa fa-pencil"></span></a>
{#                                    <a href="javascript:void(0);" onclick="document.getElementById('update-form-{{ datasource.pk }}').submit(); return false;" class="button button-action">#}
{#                                        <form id="update-form-{{ datasource.pk }}" action="{% url "data_loader:datasource-update" pk=datasource.pk %}" method ="post">#}
{#                                            {% csrf_token %}#}
{#                                        <span class="fa fa-pencil"></span>#}
{#                                        </form>#}
{#                                    </a>#}
                                    <a href="javascript:void(0);" onclick="document.getElementById('delete-form-{{ datasource.pk }}').submit(); return false;"  class="button button-action">
                                        <form id="delete-form-{{ datasource.pk }}" action="{% url "data_loader:datasource-delete" pk=datasource.pk %}" method ="post">
                                            {% csrf_token %}
                                            <span class="fa fa-trash"></span>
                                        </form>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td class="datasources-table-name">You haven't added any entries yet</td>
                                <td class="datasources-type"></td>
                                <td class="datasources-actions">
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}